<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @player.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<% if current_player == @player %>
  <%= link_to 'Edit yourself', edit_player_path(@player) %> |
  <%= link_to 'Destroy yourself', @player, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %> 
<%= link_to 'Back', players_path %>
